/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v24-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v24-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v24-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v24-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
*,{
  box-sizing: border-box;  
}
a{
    text-decoration: none;
    display: inline-block;
}
ul
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header_h{
    max-width: 1170px;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 54px;
}
.menu_list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1px;
}

.menu_it{
    margin-right: 84px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.menu_it:first-child{
    margin-left: 300px;
}
.menu_it:last-child{
    margin-right: 0px;
}

.int{
    height: 100vh;
    background: url(../img/intr.png) no-repeat center;
    background-size: cover;
    padding-top: 255px;
    
}
.me_h{
    text-align: center;
    margin-top: -30px;
}
.TT{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: -20px;
}
.TH{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -95px;
}
.item_m{
    margin-bottom: 50px;
}
/* Дальше about */

.about{
    text-align: center;
    margin-top: -50px;
}
.AB{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: -20px;
    margin-left: 245px;
}
.OU{
    max-width: 709px;
    font-weight: 400;
    font-size: 24px;
    margin-left: 245px;
}

/* НУ теперь contact me*/

.contact{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: -70px;
}
.cont_El{
    margin-left: 155px;
}
.cont_O{
    font-weight: 600;
    font-size: 24px;
}
.cont_T{
    font-weight: 400;
    font-size: 24px;
}
.contact_me{
    text-align: center;
}

/* Ну наконец ПОРТФОЛИО */

.int_2{
    height: 100vh;
    background: url(../img/intr.png) no-repeat center;
    background-size: cover;
    padding-top: 255px;
    padding-bottom: 500px;
}
.portfolio_s{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}




.timeline{
    display: flex;
    margin: 4.2rem auto;
    width: 100%;
    max-width: 768px;
    position: relative;
}

.timeline_cc{
    width: 50%;
}
.timeline_cc--left{
        text-align: right;
        padding-right: 100px;
    }
.timeline_cc--right{
        text-align: left;
        padding-left: 0px;
    }
.timeline_title{
    margin-bottom: 42px;
    font-weight: 700;
    font-size: 24px;
}
.tame_lane{
    font-weight: 700;
    font-size: 20px;
    
}
.tame_lane_d{
    padding-bottom: 100px;
}



.tame_lanee{
    font-weight: 400;
    font-size: 20px;
    max-width: 300px
}
.tame_lane_do1{
    padding-bottom: 55px;
}
.tame_lane_do2{
    padding-bottom: 80px;
}
.tame_lane_do3{
    padding-bottom: 80px;
}
.tame_lane_do4{
    padding-bottom: 55px;
}

.tuda{
    position: absolute;
    top: 390px;
    text-align: left;
}
.datas{
    font-weight: 700;
    font-size: 20px;
}

/*  бл услуги */
